.app-header {
    overflow: hidden;
    background-color: #112d37;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    

   .nav ul li {
    text-align: center;
    list-style-type: none;
    font-size: 18px;
    float: left;
    padding: 10px 20px;

      }

      .nav ul li a {
        color: white;
        text-decoration: none;
      }

      .nav ul li a:hover {
        border-bottom: 1px solid lightgray;
      }

      .logo-image {
          width: 200px;
          height: 70px;
      }
  }
  
  
  