<div class="edit-container">
  <div class="form-container">
      <h1>Edit here!<span>please fill and update it!</span></h1>
      <form [formGroup]="entryForm" (ngSubmit)="updateColor(entryForm.value)">
          <div class="header-text">Domain & Range</div>
          <div class="input-fields">
              <label for="domain">Domain 
                  <input type="text" name="domain" id="domain" formControlName="domain"/>
              </label>
              <label>Range 
                  <input type="text" name="range" id="range" formControlName="range"/>
              </label>          
          </div>
      
           <input type="submit" value ="update" />
      </form>
  </div>
</div>

